.homePage {
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 5rem;
        color: wheat;
      

    }
}