.recipeMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    // display: flex;
    gap: 3rem;
    justify-content: space-around;
  
   
    
    justify-content: space-around;
    flex-basis: 2ch;
    
        h1{
            font-style: italic;
            text-align: center;
    
        }
    
        p {
            padding: 1rem;
        }
    
        img{
           justify-content: center;
            border-radius: 50%;
            border: 2px solid #663300;
            
        }
    }
    
    

    

.card {
    
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom, #cc6600 0%, #cc9900 100%);
         color: wheat;
}

@media(max-width: 50rem){
    
    .recipes {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        
    }
}