body {
    background-color: #ff8000;
  
  }
  
  .navbar{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 2rem;
    font-weight: 800;
    font-size: 2rem;
   
    
   

  }